{% extends "base.html.twig" %}

{% block content %}
    <h1>Genre : {{ films[0].categorie.name}}</h1>
    <h2>Liste des films avec pagination sur catégorie choisie </h2>
    
    <ul class="list-group">
        {% for film in films %}
            <li class="list-group-item">{{ film.titre }}</li>
        {% endfor %}
   </ul>
{% endblock %}
{# empty Twig template #}
