{% extends "base.html.twig" %}

{% block content %}
    <h1>List des Films</h1>
    <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Titre</th>
                        <th>Description</th>
                        <th>Category</th>
                        <th>Photo</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for film in films %}
                    <tr>
                        <td>{{ film.titre }}</td> 
                        <td>{{ film.description |slice(1, 150) }}</td>
                        <td><a href="{{path('digital_nolimit_categorie', {'id':film.categorie.id} )}}">{{ film.categorie }}</a></td>
                       
                        <td>
                            
                            {% set image='uploads/no_image.jpg' %}
                            {% if film.file.url is not empty %}
                                 {% set image=film.file.uploadPath %}
                            {% endif %}
                                <img width="90" height="60" src="{{asset(image)}}" alt="no image"/>
                        <td><a href="{{ path('digital_nolimit_show',{'id':film.id}) }}" class="btn btn-primary">Detail</a></td>
                        <td><a href="{{ path('digital_nolimit_delete',{'id':film.id}) }}" class="btn btn-danger">Supprimer</a></td>
                    </tr>
                    
                    
                    {% endfor %}
                </tbody>
            </table>
                    
        {% if maxPages > 1 %}
<ul class="pagination pagination-sm">
    {# `«` arrow  #}
    <li {{ thisPage == 1 ? 'class="disabled"' }}>
        <a href="{{ path('digital_nolimit_homepage', {page: thisPage-1 < 1 ? 1 : thisPage-1}) }}">«</a>
    </li>

    {# Render each page number #}
    {% for i in 1..maxPages %}
    <li {{ thisPage == i ? 'class="active"' }}>
    <a href="{{ path('digital_nolimit_homepage', {page: i}) }}">{{ i }}</a>
    </li>
    {% endfor %}

    {# `»` arrow #}
    <li {{ thisPage == maxPages ? 'class="disabled"' }}>
        <a href="{{ path('digital_nolimit_homepage', {page: thisPage+1 <= maxPages ? thisPage+1 : thisPage}) }}">»</a>
    </li>
</ul>
{% endif %}

{% endblock %}