{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <h1>List des filmes</h1>
            
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
{% endblock %}
{# empty Twig template #}
